<%- include("partials/header.ejs") %>

    <div class="d-flex welcome-container">
        <div class="d-flex me-5 title-welcome">
            <div>
                <h1 class="fw-bold">Bem vindo!</h1>
                <p class="text-secondary">Espero que nossos produtos lhe satisfaçam.</p>
            </div>
            <p class="conteudo-welcome">Junte-se a nós e descubra como podemos ajudar sua empresa a alcançar novos patamares de sucesso no mundo digital.</p>
        </div>
        <img src="imgs/animacao.svg" alt="animacao" class="animacao-index">
    </div>

<%- include("partials/footer.ejs") %>