<%- include("partials/header.ejs") %>

    <div class="d-flex welcome-container">
        <div class="d-flex me-5 title-welcome">
            <div>
                <h1 class="fw-bold">Erro!</h1>
                <p class="text-secondary">Algo deu errado em sua navegação.</p>
            </div>
            <p class="conteudo-welcome">Você ainda não iniciou uma sessão. Vá para o <a href="/login">login</a> e realize o cadastro/login.</p>
        </div>
        <img src="imgs\403-error.svg" alt="animacao" class="animacao-index">
    </div>

<%- include("partials/footer.ejs") %>